[Desktop Entry]
Name=Yutani
Comment=EVE Online clients
Type=Application
Exec=/usr/bin/yutani-applet
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Applet;EVE;Yutani;
Icon=yutani-symbolic
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-OverflowPriority=50
